/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}
html{
	background:#222222;
	color: white;
}

body{
	background:#222222;
	color: white;
	font-family: Exo;
	margin:50px;
}

.menu{
	font-size:15px;
	
	
	
	li{
		margin-top:10px;
		padding-right:10px;
		padding-left:10px;
	}
	
}
.main-navigation ul li {
	border-right: 1px solid white;
	
	}

	
	
	
	.main-navigation ul li:last-of-type {
	border-right: none;
	}

	.main-navigation{
		display:flex;
		align-content:center;
		flex-direction: column;
		
		p{
			display:flex;
			justify-content: space-between;
			a{
				padding-right: 2px;
			}
		}
	}

	.quote-submission-wrapper{
		div{

		
		display:flex;
		flex-direction:column;}

	}
	@media (min-width: 600px){
		.main-navigation{
			display:flex;
			align-content:center;
			flex-direction: row;
			justify-content: center;
		align-items:center;
	
	p{
margin-bottom:3px;

		
	}

}

		
.main-navigation ul li:last-of-type {
	border-right: 1px solid white;
	}		


		
	}

	

	@media (min-width: 1000px) {
		body{
			width:70%;
			margin-right:15%;
			margin-left:15%;
		}
		.site-content{
			position: relative;
		}
		.site-content::before{
			content: "\f10d";
			left: -175px;
			
		}

		.site-content::after{

			content: "\f10e";
			right: -175px;
		}
		.site-content::before, .site-content::after {
			color: #0c0;
			font-family: FontAwesome;
			font-size: 125px;
			line-height: 125px;
			position: absolute;
			top: 0;
	}
		.content-area{
			display:flex;
		}
		
		.menu{
			
			li{
				margin:20px;
				padding-right:30px;
			}
			
		}

		.main-navigation{
			display:flex;
			align-content:center;
			flex-direction: row;
			justify-content: center;
		align-items:center;
	
	p{
margin-top:0px;

		
	}

	}



}

.academy-link{
	padding-left: 5px;
}

.brought-to-by{
	padding-left:10px;

}